{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel = "styleshooer" type = "text/css" href = "static/css/stylebase.css">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


            <div class = "header">
                <img src="{% static '/img/webeing.png'%}" alt="webeing" style="float:left; margin-left:10rem; width:50px; height:50px;">
                
                <p style="float:left; margin-left: 2rem; ">로그인</p>
                <p style="float:left; margin-left: 2rem; ">회원가입</p>
                
            </div>

    </head>

    <body>

        <div class = "main">
            {% block contents %}
            {% endblock %}
        </div>

        <div class = "leftbar">
            
        </div>

    </body>


    <footer>

        <div class = "footer">

            <h5><a href = "{% url 'login' %}">LOGIN</a></h5>
            <h5><a href = "{% url 'signup' %}">SIGHUP</a></h5>
            <h5><a href = "{% url 'signupintro' %}" >signupintro</a></h5>
            <h5><a href = "{% url 'signupseller' %}" >signupseller</a></h5>
            <h5><a href = "{% url 'accountconnect' %}" >accountconnect</a></h5>
            <h5><a href = "{% url 'goods' %}" >goods</a></h5>
            <h5><a href = "{% url 'complete' %}" >complete</a></h5>
            <h5><a href = "{% url 'account' %}" >account</a></h5>
            <h5><a href = "{% url 'myinformation' %}" >myinformation</a></h5>
            <h5><a href = "{% url 'orderlist' %}" >orderlist</a></h5>
            <h5><a href = "{% url 'landing' %}" >landing</a></h5>
            <h5><a href = "{% url 'home' %}" >home</a></h5>
            <h5><a href = "{% url 'market' %}" >market</a></h5>

        </div>

    </footer>

</html>