{% extends 'base.html' %}

<body>
    {% block contents %}
    <title>home</title>

    {% load static %}
    <link rel = "stylesheet" type="text/css" href="static/css/stylehome.css">

    <div class = "card11">card11</div>
    <div class = "card21">card21</div>



    <div class = "page">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>


    {% endblock %}
</body>

