{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel = "styleshooer" type = "text/css" href = "static/css/stylebase.css">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <div class = "header">
            <div class="search">
                <img src = "{% static '/img/webeing.png' %}" style = "float:left; margin-left:40px; width:50px; height:50px;">
                <input type="text" placeholder=" 건물명/도로명, 지번으로 검색하세요. ">

                <p style = "float:right; margin-right: 50px;">회원가입</p>
                <p style = "float:right; margin-right: 50px;">로그인</p>
           </div>
        </div>


    </head>

    <body>

        <div class = "main">
            {% block contents %}
            {% endblock %}
        </div>

    </body>


    <footer>

        <div class = "footer">
            Footer
        </div>
     

    </footer>

</html>