{% extends 'base.html' %}

<body>
    {% block contents %}

    <h1>Login</h1>

    {% load static %}

    <link rel = "stylesheet" type="text/css" href="/static/css/stylelogin.css"/>


    <div class="container">
        <div class = "login1">login1</div>
        <div class = "email">email</div>
        <div class = "password">password</div>
        <div class = "autologin">autologin</div>
        <div class = "finding">finding</div>
        <div class = "login2">login2</div>
        <div class = "sociallogin">sociallogin</div>
        <div class = "gosignup">gosignup</div>
        <div class = "gosignupseller">gosignupseller</div>


    </div>



    {% endblock %}
</body>
