{% extends 'base.html' %}

<body>
    {% block contents%}

    {% load static %}
    <link rel = "stylesheet" type = "text/css" href = "static/css/singupseller.css">


    <div class = "container">
        <div class = "signup1">signup1</div>
        <div class = "email">email</div>
        <div class = "password">password</div>
        <div class = "confirm">confirm</div>
        <div class = "companynumber">companynumber</div>
        <div class = "address">address</div>
        <div class = "phonetype1">phonetype1</div>
        <div class = "phonetype2">phonetype2</div>
        <div class = "agree1">agree1</div>
        <div class = "agree2">agree2</div>
        <div class = "agree3">agree3</div>
        <div class = "agree4">agree4</div>
        <div class = "agree5">agree5</div>
        <div class = "agreeall">agreeall</div>
        <div class = "signup2">signup2</div>
    </div>
    
    {% endblock %}
</body>