.container {
    display: inline-grid;

    grid-template-columns: 1rf 5rf 1rf;
    grid-template-rows: 1rf 4rf 1rf;

    gap: 1rem 1rem;

    grid-template-areas:
        "header header header"
        "a main b"
        "footer footer footer"

}


.header {grid-area: header;}
.sidebar-a {grid-area: a;}
.sidebar-b {grid-area: b;}
.main {grid-area: main;}
footer {grid-area: footer;}


.item:nth-child(1) {
    grid-row: 1 / 3
}

.item:nth-child(3) {
    grid-row: 1 / 3
}