.container {
    display: inline-grid;

    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 1fr 5fr 1fr;

    row-gap: 2rem 2rem;

    grid-template-areas:
        "header header header"
        "a main b"
        "footer footer footer"
}

.item:nth-child(1) {
    grid-row: 1 / 4;
}

.item:nth-child(3) {
    grid-row: 1 / 4;
}

.header {
    grid-area: header; 
}
.sidebar-a {grid-area: a; }
.main {grid-area: main; }
.sidebar-b {grid-area: b; }
.footer {
    grid-area: footer; 
    background-color: #CED4DA;
}