{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCOUNTCONNECT</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="static/css/styleaccountconnect.css" >

    <div class="container">
        <div class="accountmoney">accountmoney</div>
        <div class="participate">participate</div>
        <div class="webeingmoney">webeingmoney</div>
        <div class="donaterlist">donaterlist</div>
        <div class="pastdonation">pastdonation</div>
    </div>
</body>
</html>
