.container {
    display: inline-grid;

    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 5fr 4fr 4fr 4fr 4fr 1fr ;

    row-gap: 0rem 2rem 1rem 1rem 2rem;

    grid-template-areas:
        "header"
        "main"
        "service1"
        "service2"
        "service3"
        "service4"
        "footer"
}

.header {grid-area: header; }
.main {grid-area: main; }
.service1 {grid-area: service1; }
.service2 {grid-area: service2; }
.service3 {grid-area: service3; }
.service4 {grid-area: service4; }
.footer {grid-area: footer; }