.container {
    display: inline-grid;

    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;

    grid-template-areas:
        "header header header"
        "a main main"
        "footer footer footer"
    
}

.header {grid-area: header; }
.footer {grid-area: footer; }
.leftbar {grid-area: a; }
.rightbar {grid-area: b; }
.main {grid-area: main; }
.footer {
    grid-area: footer; 
    background-color: #CED4DA;
}


.container:nth-child(1) {
    grid-row: 1/4;
}

.container:nth-child(2) {
    grid-row: 2/4;
}

.container:nth-child(3) {
    grid-row: 1/4;
}