.container {
    display:inline-grid;

    grid-template-columns: 1rf ;
    grid-template-rows: 1rf 3rf 2rf 2rf 2rf 4rf 3rf 3rf 3rf 1rf;

    grid-template-areas:
        "preheader"
        "marketheader"
        "food1"
        "food2"
        "food3"
        "map"
        "marketinformation"
        "sellerinformation"
        "foodfrom"
        "prefooter"

}


.marketheader {grid-area: marketheader; }
.food1 {grid-area: food1;}
.food2 {grid-area: food2;}
.food3 {grid-area: food3;}
.map {grid-area: map;}
.marketinformation {grid: marketinformation;}
.sellerinformation {grid: sellerinformation;}
.foodfrom {grid: foodfrom;}
