{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Landing</title>
    </head>

    <body>

        <link rel = "stylesheet" type="text/css" href="/static/css/style.css"/>


        <h1>LANDING</h1>

        <div class="container">
            <div class = "header">A</div>
            <div class = "main">B</div>
            <div class = "footer">C</div>
        </div>

        <img src="/static/img/seungjo.jpeg">
    </body>

    <footer>
        <h5><a href = "{% url 'login' %}">LOGIN</a></h5>
        <h5><a href = "{% url 'signup' %}">SIGHUP</a></h5>
        <h5><a href = "{% url 'signupintro' %}" >signupintro</a></h5>
        <h5><a href = "{% url 'signupseller' %}" >signupseller</a></h5>
        <h5><a href = "{% url 'accountconnect' %}" >accountconnect</a></h5>
        <h5><a href = "{% url 'goods' %}" >goods</a></h5>
        <h5><a href = "{% url 'complete' %}" >complete</a></h5>
        <h5><a href = "{% url 'account' %}" >account</a></h5>
        <h5><a href = "{% url 'myinformation' %}" >myinformation</a></h5>
        <h5><a href = "{% url 'orderlist' %}" >orderlist</a></h5>
        <h5><a href = "{% url 'landing' %}" >landing</a></h5>
        <h5><a href = "{% url 'home' %}" >home</a></h5>
        <h5><a href = "{% url 'market' %}" >market</a></h5>
    </footer>
</html>